---

---

$auro: #6B717E;
$nade: #EFAAC4;
$bubble: #FFC4D1;
$misty: #FFE8E1;
$lGrey: #D4DCCD;


h2 {
    color: $auro;
    font-style: italic;
}

body {
    background-color: $lGrey;
    font: normal 12px 'Verdana', sans-serif;


}

.wrapper {
    background-color: $misty;
    max-width: 900px;
    position: center;
    margin: 5px;
    padding: 5px;
}

.box {
    background-color: $nade;
    border: 1px solid #445588;
    width: 400px;
    height: width/2;
    text-align: center;
}
