---

---


$title1: black;
$navBtn: #cc8a8d;
$body: #b29289;


.home {
    background-color: white;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;

}

h1 {
    color: $title1;
    clear: left;
}

h2 {
    color: $title1;
    clear: both;
}
p {
    clear: left;
    font-size: 14px;
}

body {
    background-color: $body;
    font: normal 14px 'Helvetica', sans-serif;
    clear: both;
}

a {
    color: $navBtn;
    text-decoration: none;
}

    ul {
        list-style: none;
    }

    header {height:200px;
        width: 100%;
    }

    #headerLink {

        background-image: url(header2jk.png);
        background-size:cover;
        display:block;
        white-space: nowrap;
        h1 {
            display: none;
        }
    }

    nav {
        float: left;
        clear: both;
        margin-right: 0px;
        padding-right: 10px;
        padding-bottom: 25px;
        margin-bottom: 50px;
        overflow: hidden;

        ul li {
            font: bold 14px 'Helvetica', sans-serif;
            border: none;
            margin-right: 5px;
            padding: 20px;
            padding-bottom: 10px;
            background-color: $navBtn;
            display: inline;
            overflow: hidden;
            clear: none;

            a {
                color: white;
            }
            a:hover {
                color: darken($navBtn, 30%);
            }
        }
    }

.rss-subscribe {

        color: $title1;
        a {
            color: $navBtn;
        }
        clear: both;
    }

    img {
        margin: 10px;
    }

