---

---

$auro: #6B717E;
$nade: #EFAAC4;
$bubble: #FFC4D1;
$misty: #FFE8E1;
$lGrey: #fcf7f8;

h1 {
    color: $bubble;

}

h2 {
    color: $auro;
    font-style: italic;
}

body {
    background-color: $lGrey;
    font: normal 12px 'Verdana', sans-serif;
    clear: both;
}

a {
    color: $nade;
    text-decoration: none;
}
a:hover {
    background-color: darken($nade, 20%);
}

ul {
    list-style: none;
}

#testBox {
    background-color: $bubble;
    border: 2px $auro;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

nav {
    float: left;
    clear: both;
    margin-right: 20px;
}
