---
layout: default
---

<link rel="stylesheet" href="/_site/assets/main.css">

<div class="home">

    <div id = "testBox">
        <p> abcd </p>

        </div>

    <nav>

        <ul>
            <li> A </li>
            <li> B </li>
            <li> C </li>
            </ul>

        </nav>
    <h1 class="page-heading">Posts</h1>

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</nav></p>

</div>
